<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="item-image" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <h1>
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'CZT.Item.NamePlaceholder'}}" />
    </h1>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{editor systemData.description target="system.description" button=true engine="tinymce" collaborate=false}}
  </section>
</form>